.links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

@media (max-width: 1565px) {
    .links {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1140px) {
    .links {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .links {
        grid-template-columns: repeat(1, 1fr);
    }
}