@import '../../styles/scss/variables.scss';

.formDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    gap: 50px;
    justify-content: center;
    margin-left: 50%;
    transform: translate(-50%, 0);
}