.resultContainer {
    div {
      margin-left: auto;
      margin-right: auto;
      gap: 10px;
      position: relative;
    }
  
    label {
      display: block;
      text-align: center;
    }
  }